<style>
    hr.new3 {
        content: '';
        display: block;
        margin-top: 2px;
        border-top: 1px solid #8c8b8b;
        border-bottom: 1px solid #fff;
       
    }

     
</style>

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="profile-image">
                    <img src="http://via.placeholder.com/100x100/f4f4f4/000000" alt="image" />
                    <span class="online-status online"></span> <!--change class online to offline or busy as needed-->
                </div>
                <div class="profile-name">
                    <p class="name">
                        Marina Michel
                    </p>
                    <p class="designation">
                        Super Admin
                    </p>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Dashboard/">
                <i class="icon-chart menu-icon"></i>
                <span class="menu-title">Dashboard</span>
                <span class="badge badge-success">New</span>
            </a>
          
        </li>
        
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#page-layouts" aria-expanded="false" aria-controls="page-layouts">
                <i class="icon-settings menu-icon"></i>
                <span class="menu-title">Master Setups</span>
                <span class="badge badge-danger">16</span>
            </a>
            <div class="collapse" id="page-layouts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/Company/ViewCompany/">Company</a><hr class="new3"></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/Branch/ViewBranch/">Branch</a></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/User/ViewUser/">User</a></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/firstTier/ViewfirstTier/">Chart Of Account</a></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/thirdTier/ViewthirdTiers/">Sub-Head Account</a></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/fourthTier/ViewfourthTiers/">Operating Account</a></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/itemUnit/ViewItemUnit/">Unit Of Measure</a></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/Product_Category/ViewProductCategory/">Product Category</a></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/Product_SubCategory/ViewProductSubCategory/">Product SubCategory</a></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/Product/ViewProduct/">Product </a></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/CustomerType/ViewCustomerType/">Customer Type</a></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/Customer/ViewCustomers/">Customer </a></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/Warehouse/ViewWareHouse">Ware-House </a></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/Taxes/ViewTaxes">Tax </a></li> 
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/Vendor_Category/ViewVendorCategory/">Vendor Category</a></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/Vendor/ViewVEndors">Vendor </a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Bank/ViewBanks/">Bank List</a></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/Bank/ViewCompanyBanks/">Company Banks</a></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/companyCurrency/ViewcompanyCurrency/">Currency</a></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/Departments/ViewDepartments/">Departments</a></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/CustomerBanks/ViewCustomerBanks/">Customer Bank </a></li>
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/VendorBanks/ViewVendorBanks/">Vendor Bank</a></li>
                    
                    <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="/Vendor/ViewVendorProcess/">Vendor Process</a></li>
                </ul>
            </div>
           
        </li>
        
        

        <li class="nav-item d-none d-lg-block">
            <a class="nav-link" data-toggle="collapse" href="#sidebar-layouts" aria-expanded="false" aria-controls="sidebar-layouts">
                <i class="icon-basket-loaded menu-icon"></i>
                <span class="menu-title">Purchase</span>
                <span class="badge badge-success">5</span>
            </a>
            <div class="collapse" id="sidebar-layouts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Activity/ViewActivity/"> Local Purchase</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Activity/FinsihProducts/"> Finish Product</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/DisplayOrder/ViewDisplayOrder/"> Display Order</a></li>
                    
                    <li class="nav-item"> <a class="nav-link" href="/Commercial/ViewCI/">Performa Invoice</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Commercial/ViewCommercialInvoice/">Commercial Invoice</a></li>
                    @*<li class="nav-item"> <a class="nav-link" href="/Commercial/ViewConsigment/">Consigment</a></li>*@
                    <li class="nav-item"> <a class="nav-link" href="/Commercial/ViewImportedExpense/">Imported Expense</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Purchase/ViewPurchase/">Purchase order</a></li>
                    @*<li class="nav-item"> <a class="nav-link" href="/GRN/ViewGRN/">GRN</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/PInvoice/ViewPI">View PI</a></li>*@
                    <li class="nav-item"> <a class="nav-link" href="/Payment/Vouchers">Vouchers</a></li>

                </ul>
            </div>
         
        </li>

     

        <li class="nav-item d-none d-lg-block">
            <a class="nav-link" data-toggle="collapse" href="#sidebar_Layout1" aria-expanded="false" aria-controls="sidebar-layouts">
                <i class="icon-share-alt menu-icon"></i>
                <span class="menu-title">Inventory</span>
                <span class="badge badge-warning">5</span>
            </a>
            <div class="collapse" id="sidebar_Layout1">
                <ul class="nav flex-column sub-menu">
                    @*<li class="nav-item"> <a class="nav-link" href="/Opening/ProductOpening/">Opening</a></li>*@

                    <li class="nav-item"> <a class="nav-link" href="/Inventory/ViewInventory/">View Inventory</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Inventory/InventoryMovement/">Inventory Transfer</a></li>
                </ul>
            </div>
      
        </li>
    

        <li class="nav-item d-none d-lg-block">
            <a class="nav-link" data-toggle="collapse" href="#sidebar_Layout" aria-expanded="false" aria-controls="sidebar-layouts">
                <i class="icon-share-alt menu-icon"></i>
                <span class="menu-title">Sales</span>
                <span class="badge badge-warning">5</span>
            </a>
            <div class="collapse" id="sidebar_Layout">
                <ul class="nav flex-column sub-menu">
                    
                    <li class="nav-item"> <a class="nav-link" href="/Quotation/ViewQuotation/">Quotation</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/salesOrder/ViewsalesOrder/">Sales Invoice</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/GDN/ViewGDN/">GDN</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Receipt/Receipts/">Receipt</a></li>
                </ul>
            </div>
          
        </li>
        
        @*<li class="nav-item d-none d-lg-block">
            <a class="nav-link" data-toggle="collapse" href="#sidebar_Layout1" aria-expanded="false" aria-controls="sidebar-layouts">
                <i class="icon-share-alt menu-icon"></i>
                <span class="menu-title">Inventory</span>
                <span class="badge badge-warning">5</span>
            </a>
            <div class="collapse" id="sidebar_Layout1">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Opening/ProductOpening/">Opening</a></li>

                    <li class="nav-item"> <a class="nav-link" href="/Inventory/ViewInventory/">View Inventory</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Inventory/InventoryMovement/">Inventory Movement</a></li>
                </ul>
            </div>
        </li>*@

        <li class="nav-item d-none d-lg-block">
            <a class="nav-link" data-toggle="collapse" href="#sidebar_Layout2" aria-expanded="false" aria-controls="sidebar-layouts">
                <i class="icon-share-alt menu-icon"></i>
                <span class="menu-title">Accounts</span>
                <span class="badge badge-warning">5</span>
            </a>
            <div class="collapse" id="sidebar_Layout2">
                <ul class="nav flex-column sub-menu">

                    <li class="nav-item"> <a class="nav-link" href="/Finance/GeneralVoucher/">General Voucher</a></li>

                </ul>
            </div>
        
        </li>
        
        <li class="nav-item d-none d-lg-block">
            <a class="nav-link" data-toggle="collapse" href="#report" aria-expanded="false" aria-controls="sidebar-layouts">
                <i class="icon-share-alt menu-icon"></i>
                <span class="menu-title">Reports</span>
                <span class="badge badge-warning">5</span>
            </a>
            <div class="collapse" id="report">
                <ul class="nav flex-column sub-menu">

                    <li class="nav-item"> <a class="nav-link" href="/Reporting/ViewReports/">Reports</a></li>

                </ul>
            </div>
            
        </li>
       
    </ul>
</nav>